---
import Layout from "../../../layouts/Layout.astro";
import PostBox from "../../../components/PostBox.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
);
---

<Layout og_type="website">
  <div>
    {
      posts.map((post) => (
        <>
          <div class="divider my-2" />
          <PostBox
            title={post.data.title}
            publishedAt={post.data.publishedAt}
            description={post.data.description}
            href={post.slug}
          />
        </>
      ))
    }
  </div>
</Layout>
